<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar class=" bar-positive" data-comp-id="header-bar.1"
        ng-class="headerClass">
        <div class="buttons">
            <button class="button button-clear" data-comp-id="button.1"
                ng-click="__cancelCallback()">
                Cancel
            </button>
        </div>
        <h1 class="title" data-comp-id="text.1">{{__modalTitle ? __modalTitle : 'Multi Select'}}</h1>
        <div class="buttons">
            <button class="button button-clear icon" data-comp-id="button.2"
                ng-click="__multiselectCallback()">Done</button>
        </div>
    </ion-header-bar>
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.3"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">
            Untitled Screen
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.4"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1" has-bouncing="true">
        <ion-checkbox class="" data-comp-id="checkbox.1" ng-model="item.selected"
            ng-repeat="item in __multiselectModalData.options" style="font-size:14px">
            {{item.label || '&nbsp;'}}
        </ion-checkbox>
        <select-list data-comp-id="selectList.1">Input Label</select-list>
    </ion-content>
</ion-view>