<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Posts</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row light-bg" data-comp-id="row.1">
                <div class="col text-center" data-comp-id="column.1"
                    ng-click="toggleFilters(item, data.filters)" ng-repeat="item in data.filters"
                    ng-style="item.selected ? {borderBottom: '3px solid rgb(67, 152, 210)'} : ''"
                    style=" margin: 0px 0px -5px;">
                    <i class="icon {{item.icon}}" data-comp-id="icon.1"
                        style="color: rgb(51, 51, 51); font-size: 20px;"></i>
                    <div data-comp-id="text.1" ng-bind="item.title"
                        style="color: rgb(51, 51, 51); font-weight: bold;">All Posts</div>
                </div>
            </div>
        </div>
        <div class=" light-bg" data-comp-id="div.2"
            ng-repeat="item in data.posts | filter: filter"
            style="margin: 4%; border-top: 1px solid rgb(238, 238, 238); border-bottom: 1px solid rgb(238, 238, 238);">
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2" style="margin: 2% 4% 0%;">
                    <div class=" positive" data-comp-id="text.2" ng-bind="item.title"
                        style="font-size: 18px;"></div>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3" style="margin: 0% 0% 0% 4%;">
                    <div data-comp-id="text.3" ng-bind="item.name"
                        style="color: rgb(102, 102, 102);"></div>
                </div>
                <div class="col text-right" data-comp-id="column.4" style="margin: 0% 4% 0% 0%;">
                    <div data-comp-id="text.4" ng-bind="item.duration"
                        style="color: rgb(102, 102, 102);"></div>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.5" style="margin: 2% 4% 6%;">
                    <div data-comp-id="text.5" ng-bind="item.details"
                        style="color: rgb(102, 102, 102); font-size: 16px;"></div>
                </div>
            </div>
            <div class="row nocolor-bg" data-comp-id="row.5"
                style="border-top: 1px solid rgb(238, 238, 238);">
                <div class="col text-center" data-comp-id="column.6">
                    <i class="icon ion-ios-flag positive" data-comp-id="icon.2" ng-if="item.flagged"
                        style="font-size: 20px;"></i>
                    <i class="icon ion-ios-flag" data-comp-id="icon.3" ng-if="!item.flagged"
                        style="font-size: 20px; color: rgb(153, 153, 153);"></i>
                </div>
                <div class="col text-center" data-comp-id="column.7">
                    <i class="icon ion-ios-heart positive" data-comp-id="icon.4"
                        ng-if="item.favorite" style="font-size: 20px;"></i>
                    <i class="icon ion-ios-heart" data-comp-id="icon.5" ng-if="!item.favorite"
                        style="color: rgb(153, 153, 153); font-size: 20px;"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>