<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">List View</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class="item item-icon-right" data-comp-id="item.1"
                style="border-top: 1px solid rgba(255, 255, 255, 0);">
                <div class=" positive" data-comp-id="text.1">Price &amp; Availability</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.1"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item item-icon-right" data-comp-id="item.2" style="margin: 0px;">
                <div class=" positive" data-comp-id="text.2">Search by Part Number</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.2"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item  item-icon-right" data-comp-id="item.3">
                <div class=" positive" data-comp-id="text.3">Browse Products</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.3"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item  item-icon-right" data-comp-id="item.4">
                <div class=" positive" data-comp-id="text.4">Direct Order Entry</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.4"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item  item-icon-right" data-comp-id="item.5">
                <div class=" positive" data-comp-id="text.5">Import Order</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.5"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item  item-icon-right" data-comp-id="item.6">
                <div class="positive" data-comp-id="text.6">View Order History</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.6"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item  item-icon-right" data-comp-id="item.7">
                <div class="positive" data-comp-id="text.7">Quick Quote Entry</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.7"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item item-icon-right" data-comp-id="item.8">
                <div class=" positive" data-comp-id="text.8">SP/SD Request</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.8"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item item-icon-right" data-comp-id="item.9">
                <div class=" positive" data-comp-id="text.9">SD Claim</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.9"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item item-icon-right" data-comp-id="item.10">
                <div class="positive" data-comp-id="text.10">RMA</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.10"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item item-icon-right" data-comp-id="item.11">
                <div class=" positive" data-comp-id="text.11">Stock Rotation</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.11"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item item-icon-right" data-comp-id="item.12">
                <div class=" positive" data-comp-id="text.12">New Part Number</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.12"
                    style="font-size: 20px;"></i>
            </div>
            <div class="item item-icon-right" data-comp-id="item.13">
                <div class=" positive" data-comp-id="text.13">View/Print Statement</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.13"
                    style="font-size: 20px;"></i>
            </div>
        </ion-list>
        <div data-comp-id="text.14">Some text</div>
    </ion-content>
</ion-view>