<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <label class="item item-input" data-comp-id="textInput.1">
            <span class="input-label">test</span>
            <input ng-model="data.tes.test" type="text">
        </label>
        <label class="item item-input" data-comp-id="textInput.2">
            <span class="input-label">tes3</span>
            <input ng-model="data.tes.tes3" type="text">
        </label>
    </ion-content>
</ion-view>