<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1"></div>
        </div><img data-comp-id="image.1" data-img="" ng-src="images/default.png">
        <label class="item" data-comp-id="takePhoto.1"
            ng-class="{'item-input item-button-right': style === 'control'}"
            take-photo="control">
            <span class="input-label" ng-if="style === 'control'">Take Photo</span>
            <button class="button button-icon" ng-if="style === 'control'">
                <i class="icon positive-icon ion-camera"></i>
            </button>
            <input disabled="" ng-if="style === 'control'" type="text">
            <button class="button button-block button-positive nomargin"
                ng-if="style === 'button'">Take Photo</button>
            <textarea class="not-visible"></textarea>
        </label>
        <div class="select2-wrap" data-comp-id="typeahead.1">
            <span class="input-label">Select Label</span>
            <ui-select ng-model="someModel" theme="select2">
                <ui-select-match>
                    <span ng-bind="$select.selected.label"></span>
                </ui-select-match>
                <ui-select-choices repeat="">
                    <span ng-bind="item.label"></span>
                </ui-select-choices>
            </ui-select>
        </div>
        <label class="item item-input" data-comp-id="textInput.1">
            <span class="input-label">str</span>
            <input ng-model="data.str" type="text">
        </label>
    </ion-content>
</ion-view>